<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h2 th:replace="fragments :: appName"></h2>
<h1 th:text="${title}">Default Title</h1>


<div th:if="${skills != null and !skills.empty}">
    <h2 th:text="'Current Skills for ' + ${instrument.name} + ': '"></h2>
    <ul th:each="skill: ${skills}">
        <li th:text="${skill.name}"></li>
    </ul>
</div>

<div th:if="${skills == null or skills.empty}">
    <h2 th:text="'No skills for ' + ${instrument.name} + ' yet!'"></h2>
</div>

<form method="post" th:action="@{'/skill/add/' + ${instrument.id}}" th:object="${skill}">
    <div class="form-group">
        <label th:for="skill">Skill name: </label>
        <input class="form-control" id="skill" type="text" th:field="*{name}" th:value="*{name}" />
        <span class="error" th:errors="*{name}"></span>
        <p class="error" th:text="${alreadyExistsError}"></p>
    </div>
    <input type="submit" value="Add Skill" />
</form>

<p><a th:href="@{'/profile/' + ${userId}}">Back to Profile</a></p>


</body>
</html>

