<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h2 th:replace="fragments :: appName"></h2>
<h1 class="title" th:text="${title}">Default Title</h1>


<div th:if="${instruments != null and !instruments.empty}">
    <h2>Current Instruments </h2>
    <ul class="list-group" th:each="instrument : ${instruments}">
        <li class="list-group-item" th:text="${instrument.name}"></li>
    </ul>
</div>

<div th:if="${instruments == null or instruments.empty}">
    <h3 class="no-data">No Instruments Yet!</h3>
</div>

<form class="add-item" method="post" th:action="@{/instrument/add}" th:object="${instrument}">
    <div class="form-group">
        <label th:for="instrument">Instrument name: </label>
        <input class="form-control" id="instrument" type="text" th:field="*{name}" th:value="*{name}" />
        <span class="error" th:errors="*{name}"></span>
        <span class="error" th:text="${alreadyExistsError}"></span>
    </div>
    <input type="submit" value="Add Instrument" />
</form>

<div th:replace="fragments :: footer-nav"></div>


</body>
</html>