<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h2 th:replace="fragments :: appName"></h2>
<h1 class="title" th:text="${title}">Default Title</h1>


<div th:if="${skills != null and !skills.empty}">
    <h2 th:text="'Current Skills for ' + ${instrument.name} + ': '"></h2>
    <ul class="list-group" th:each="skill: ${skills}">
        <li class="list-group-item" th:text="${skill.name}"></li>
    </ul>
</div>

<div th:if="${skills == null or skills.empty}">
    <h3 class="no-data" th:text="'No skills for ' + ${instrument.name} + ' yet!'"></h3>
</div>

<form class="add-item" method="post" th:action="@{/skill/add}" th:object="${skill}">
    <div class="form-group">
        <label th:for="skill">Skill name: </label>
        <input class="form-control" id="skill" type="text" th:field="*{name}" />
        <span class="error" th:errors="*{name}"></span>
        <p class="error" th:text="${alreadyExistsError}"></p>
    </div>
    <input type="hidden" th:value="${instrument.id}" name="instrumentId" />
    <input type="submit" value="Add Skill" />
</form>

<div th:replace="fragments :: footer-nav"></div>


</body>
</html>

