<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h2 th:replace="fragments :: appName"></h2>
<h1 th:text="${title}">Default Title</h1>


<div th:if="${instruments != null and !instruments.empty}">
    <h2>Current Instruments </h2>
    <ul th:each="instrument : ${instruments}">
        <li th:text="${instrument.name}"></li>
    </ul>
</div>

<div th:if="${instruments == null or instruments.empty}">
    <h2>No Instruments Yet!</h2>
</div>

<form method="post" th:action="'/instrument/add/' + ${userId}" th:object="${instrument}">
    <div class="form-group">
        <label th:for="instrument">Instrument name: </label>
        <input class="form-control" id="instrument" type="text" th:field="*{name}" th:value="*{name}" />
        <span class="error" th:errors="*{name}"></span>
    </div>
    <input type="submit" value="Add Instrument" />
</form>


</body>
</html>