<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h2 th:replace="fragments :: appName"></h2>
<h1 th:text="${title}">Default Title</h1>


<div th:if="${instruments != null and !instruments.empty}">
    <h2>Select an Instrument: </h2>
    <ul th:each="instrument : ${instruments}">
        <li th:text="${instrument.name}"></li>
        <span>
            <button><a th:href="@{'/skill/add/' + ${instrument.id}}">Add Skill</a></button>
            <button><a th:href="@{'/practice-session/' + ${instrument.id}}">Create Practice Session</a></button>
            <button><a th:href="@{'/records/select/' + ${instrument.id}}">View Session Data</a></button>
        </span>
    </ul>
</div>

<div th:if="${instruments == null or instruments.empty}">
    <h2>No Instruments Yet!</h2>
</div>

<p><a th:href="@{'/instrument/add/' + ${userId}}">Add an Instrument!</a></p>
<p><a th:href="@{/profile/logout}">Log Out</a></p>



</body>
</html>