<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h2 th:replace="fragments :: appName"></h2>
    <nav th:replace="fragments:: profileNav"></nav>
    <h1 class="title" th:text="${title}">Default Title</h1>


    <div class="container" style="margin: 2em 0 2em 0;" th:if="${instruments != null and !instruments.empty}">
        <h2>Select an Instrument: </h2>
        <ul class="list-group" th:each="instrument : ${instruments}">
            <li class="list-group-item instrument-name" th:text="${instrument.name}"></li>
                <div class="profile-list-item-buttons" style="display: flex;">
                    <form class="index-button" th:action="@{/skill/}" method="post">
                        <input type="hidden" th:value="${instrument.id}" name="instrumentId" />
                        <input class="btn btn-primary" type="submit" value="Add Skill" />
                    </form>
                    <form class="index-button" th:action="@{/practice-session/}" method="post">
                        <input type="hidden" th:value="${instrument.id}" name="instrumentId" />
                        <input class="btn btn-success" type="submit" value="Create Practice Session" />
                    </form>
                    <form class="index-button" th:action="@{/records/}" method="post">
                        <input type="hidden" th:value="${instrument.id}" name="instrumentId" />
                        <input class="btn btn-warning" type="submit" value="View Session Data" />
                    </form>
                </div>
        </ul>
    </div>

    <div th:if="${instruments == null or instruments.empty}">
        <h3 class="no-data">No Instruments Yet!</h3>
    </div>

    <nav th:replace="fragments:: profileNav"></nav>

</body>
</html>