<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h2 th:replace="fragments :: appName"></h2>
<h1 class="title" th:text="${title}">Default Title</h1>


<div class="container" style="margin: 2em 0 2em 0;" th:if="${not #lists.isEmpty(currentPracticeSessions)}">
    <form th:action="@{/records/view}" method = "post">
        <p th:text="'You have ' + ${#lists.size(currentPracticeSessions)} + ' practice sessions recorded.'"></p>

       <div class="form-group">
           I want to view my most
           <input type="number" name="numberOfRecords" step="1" min="1" th:max="${#lists.size(currentPracticeSessions)}" />
           recent practice sessions.
       </div>

        <input type="hidden" th:value="${instrument.id}" name="instrumentId" />
        <input type="submit" value="Let's see it!" />
    </form>
</div>

<div th:if="${#lists.isEmpty(currentPracticeSessions)}">
    <h3 class="no-data">No  practice sessions yet recorded for this instrument!</h3>
</div>



<div th:replace="fragments :: footer-nav"></div>


</body>
</html>