<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h2 th:replace="fragments :: appName"></h2>
<h1 th:text="${title}">Default Title</h1>

<table class="table">
    <thead>
        <tr>
            <th class="table-head">
                Practice Sessions
            </th>
        </tr>
        <tr>
            <th></th>
            <th th:each="practiceSession : ${selectedPracticeSessions}" th:text="'Session ' + ${practiceSession.id}">
            </th>
            <th>Total</th>
            <th>Average</th>
        </tr>
        <tr>
            <th></th>
            <th th:each="practiceSession : ${selectedPracticeSessions}" th:text="${practiceSession.date}"></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="row : ${selectedSkillDataRows}">
            <td th:text="${row.skill.name}"></td>
            <td th:each="time : ${row.getTimesList()}"
                th:text="${time}"></td>
            <td th:text="${row.total}"></td>
            <td th:text="${row.average}"></td>
        </tr>
    </tbody>
</table>

<form th:action="@{/records/}" method="post">
    <input type="hidden" th:value="${instrument.id}" name="instrumentId" />
    <input type="submit" value="Back to Records Select" />
</form>

<p><a th:href="@{/profile/}">Back to Profile</a> | <a th:href="@{/profile/logout}">Log Out</a></p>

</body>
</html>