<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">

    <meta charset="UTF-8" />
    <title th:text="${title}">Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style> .error {
            color: red;
            }
    </style>

</head>

<body>

<nav th:fragment="navigation">
    <a href="@{/welcome}">Login Page</a> |
    <a href="@{/welcome/NewAccount}">Create Account</a>
</nav>

</body>
</html>